<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pizzeria</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">2323</property>
        <!-- Configuracion del pool interno -->
        <property name="connection.pool_size">1</property>
        <!-- Dialecto de la base de datos -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- Otras propiedades importantes "create-drop"-->
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">none</property>
        <!-- Archivos de mapeo -->
        <mapping class="ar.com.mycompany.entities.DetallePedidos"/>
        <mapping class="ar.com.mycompany.entities.EstadoPedidos"/>
        <mapping class="ar.com.mycompany.entities.Pedidos"/>
        <mapping class="ar.com.mycompany.entities.Pizzas"/>
        <mapping class="ar.com.mycompany.entities.TamanioPizzas"/>
        <mapping class="ar.com.mycompany.entities.TipoPizzas"/>
        <mapping class="ar.com.mycompany.entities.VariedadPizzas"/>
        <mapping class="ar.com.mycompany.entities.EstadoFacturas"/>
        <mapping class="ar.com.mycompany.entities.Facturas"/>
    </session-factory>
</hibernate-configuration>
